.wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 10px;
  background-color: var(--backgroundSecondaryColor);
  border-radius: 10px;
  box-shadow: -2px 3px 10px -4px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
  cursor: pointer;

  &:first-child {
    margin-top: 0px;
  }
}

.selected {
  background-color: var(--selectedFontColor);
}
