.wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 120px;
  padding: 10px;
  background-color: var(--backgroundSecondaryColor);
  border-radius: 10px;
  box-shadow: -2px 3px 10px -4px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
  cursor: pointer;

  &:first-child {
    margin-top: 0px;
  }
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--fontColor);
  padding-bottom: 5px;

  .icon {
    margin-left: auto;
    fill: var(--fontColor);
  }
}

.address {
  margin-top: 5px;
  font-size: 13px;
}

.categories {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
